a
		{
			text-align: center;
			background-color:greenyellow;
			color: darkblue;
			margin-bottom: 10px;
			font-size: 36px;
			font-weight: bold;
			margin: 10px;
			text-decoration: none;
			text-shadow: 2px 2px 5px whitesmoke;
		}
		body
		{
			background-color:red;
			color:blue;
		}
		h1
		{
			background-color: yellow;
		}
		img
		{

			width: 215px;
			height: 238px;
			margin: 3px -11px;
			padding: 70px;
		}
		#V:hover
		{
			background-color: navy;
			color: blue;
		}